<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario Pesquisa Contato</title>
</head>
<body>

    <h1>Alteração</h1>
    <div>Alterar um contato</div><p/>

    <% include ../partials/botoes.ejs %>

    <table>
        <form action="/update_salvar" method="POST">
            <tr>
                <td><label>id</label></td>
                <td><label><input type="number" name="id" id="id" value="<%= dados.id %>" disabled></label></td>
            </tr>
            <tr>
                <td><label>Nome</label></td>
                <td><label><input type="text" name="name" id="name" value="<%= dados.name%>"></label></td>
            </tr>
            <tr>
                <td><label>E-mail</label></td>
                <td><label><input type="text" name="email" id="email" value="<%= dados.email%>"></label></td>
            </tr>
            <tr>
                <td><label>Telefone</label></td>
                <td><label><input type="number" name="phone" id="phone" value="<%= dados.phone%>"></label></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
                <td></td>
            </tr>
        </form>

        <tr>
            <td><a href="/"><button>Cancelar</button></a></td>
        </tr>
    </table>
    
</body>
</html>