<button><a href="/">HOME</a></button>
<button><a href="/read">Contatos</a></button>
<button><a href="/formulario_incluir_contato">Adicionar</a></button>
<button><a href="/formulario_pesquisar_contato">Pesquisar</a></button>