<html lang="pt-br">
    <head>
        <title>Consultar um contato</title>
    </head>
    <body>    
        <% include ./partials/botoes.ejs %>
        <h1>Contato Selecionado</h1>
        <% include ./partials/listar_contatos.ejs %>
    </body>
</html>