<html lang="pt-br">
    <head>
        <title>Página Principal</title>
    </head>
    <body>
        <h1>Página Principal</h1>
        <div>Aplicação de Vitor - CRUD simples</div>
        <p/>

        <% include partials/botoes.ejs %>
        <% include partials/listar_contatos.ejs %>

    </body>
</html>
