<html lang="pt-br">
    <head>
        <title>Página Principal</title>
    </head>
    <body>
        <h1>Página Principal</h1>
        <p/>
        <% include ./partials/botoes.ejs %>

        <strong><div>Aplicação de Vitor - CRUD simples</div></strong>

        <% include ./partials/listar_contatos.ejs %>
        <% include ./partials/ontop.ejs %>
    </body>
</html>
