<html lang="pt-br">
    <head>
        <title>Página Principal</title>
    </head>
    <body>
        <h1>Lista completa de contatos</h1>
        <% include ./partials/botoes.ejs %>
        <p/>
        <% include ./partials/listar_contatos.ejs %>
    </body>
</html>