<html lang="pt-br">
    <head>
        <title>Contatos</title>
    </head>
    <body>
        <h1>Lista completa de contatos</h1>
        <% include ./partials/botoes.ejs %>
        <p/>
        <% include ./partials/listar_contatos.ejs %>
        <% include ./partials/ontop.ejs %>
    </body>
</html>